- paypal_donation_service_for order.token, :amount => order.total, :currency => order.currency do |service|
  - service.item_name = 'Contribution for Amani Christmas Cards'
  - service.notify_url = order_paypal_payments_url(order)
  = submit_tag "Make My #{order.total} Donation Online"
