[submodule "vendor/plugins/joyent_deployment"]
	path = vendor/plugins/joyent_deployment
	url = git://github.com/matthewtodd/joyent_deployment.git
[submodule "vendor/plugins/has_digest"]
	path = vendor/plugins/has_digest
	url = git://github.com/matthewtodd/has_digest.git
