%section.unshipped
  %h1
    = t('.unshipped.title')
    |
    = link_to t('.shipped.title'), shipped_distributor_store_path(@store)
  = render(                                        |
    :as         => :order,                         |
    :partial    => 'distributor/orders/unshipped', |
    :collection => @store.orders.unshipped         |
  )                                                |
