.sold_out
  %h2 Temporarily Sold Out
  %p
    Thank you very much for your interest in buying Amani Christmas and Holiday Cards. Currently our
    = distributor.country_code.upcase
    inventory of cards is running low and that's why you're not able to order them from this site.
    We're sending more cards there right now. Please check back soon!
