%h2 Summary
%ul
  %li
    = pluralize(Order.shipped.count, 'order')
    shipped so far.

  - Distributor.ordered.each do |distributor|
    %li
      = m distributor.orders.map(&:total).sum.to_money.exchange_to(distributor.currency)
      raised in
      = distributor.country_code.upcase