.currency
  Change Currency:
  = link_to_unless current_currency == 'USD', 'USD', currency_usd_path, :method => :post
  = link_to_unless current_currency == 'GBP', 'GBP', currency_gbp_path, :method => :post
