/ colors
!green = rgb(153, 255, 153)
!orange = rgb(242, 101, 34)
!orange_70 = rgb(237, 120, 73)
!yellow_40 = rgb(252, 230, 152)
!yellow_10 = rgb(252, 247, 227)

/ dimensions
!card_width = 300px
!font_size = 14px
!logo_height = 123px
!logo_width = 240px
!logo_baseline_offset = 28px

/ fonts
!heading_font = "Century Gothic", Verdana, Arial, "sans-serif"
!body_font = Constantia, Georgia, "Times New Roman", serif

body
  :font-family = !body_font
  :font-size = !font_size

h1, h2, h3, h4, h5
  :font-family = !heading_font

a
  img
    :border none

#flash
  :margin-bottom = 2 * !font_size
  .message
    :padding = !font_size

.distributor
  :background-color = !orange
  :border-bottom 1px solid black
  :list-style none
  :margin 0
  :padding = 0.5 * !font_size
  :text-align center
  li
    :display inline
    :padding = 0.5 * !font_size
    a
      :color white


.header
  :border-bottom 1px solid black
  :height = !logo_height

  .logo
    :float left
    :width = !logo_width

  h1
    :font-size = 3 * !font_size
    :font-weight normal
    :line-height 1em
    :margin 0
    :margin-left = !logo_width
    :padding 0
    :padding-top = !logo_height - (3 * !font_size) - !logo_baseline_offset
    :padding-left = 2 * !font_size
    a
      :text-decoration none
    .red
      :color rgb(169, 0, 26)
    .green
      :color rgb(0, 88, 0)

  .cart
    :position absolute
    :top 0
    :right 0
    a
      :background-color = !yellow_40
      :color black
      :display block
      :padding = !font_size
      :text-align center
      :text-decoration none
      .link
        :color blue
        :text-decoration underline


.sidebar
  :background-color = !yellow_40
  :clear both
  / :display none
  :float left
  :width = !logo_width

  .content
    :padding = !font_size

    p
      :margin-top 0

    .welcome

    .thanks
      :border-top 1px solid black
      :font-size 90%

.main
  :margin 0
  :margin-left = !logo_width
  :padding = 2 * !font_size

  .product
    :margin-bottom = 4 * !font_size
    .image
      :float left
      :width = !card_width
    .content
      :margin-left = !card_width
      :padding-left = 2 * !font_size
      h2
        :margin 0
        :padding 0
      table
        :margin-bottom = !font_size
        tr
          :vertical-align baseline
        .name
          :padding-right = 2 * !font_size
        .price
          :font-weight bold
          :text-align right
        .running_low
          :color = !orange

.address
  :margin-bottom = 2 * !font_size

.attention, .danger, .donation, .donation_method, .shipment
  :margin-bottom = !font_size
  :padding = !font_size
  h2, form
    :margin 0

#flash .notice, .donation, .donation_method.preferred
  :background-color = !green
  :border 3px solid #6c6

.attention, .donation_method.other
  :background-color #eee
  :border 3px solid #ddd
  :color #666
  h2
    :color #333

#flash .error, .danger
  :background-color #fcc
  :border 3px solid #c66

.field
  :margin-bottom = !font_size

.fieldWithErrors
  :display inline
  input
    :background-color #fcc

.formError
  :color #900
  :display inline

form.new_order, form.new_session
  label
    :display block


table
  :border 0
  :border-collapse collapse
  th, td
    :padding = 0.25 * !font_size

td.checkout
  :text-align right
td.label
  :font-weight bold
  :text-align right
td.number, td.number input
  :text-align right

table.list
  :margin-bottom = 2 * !font_size
  thead
    :border-bottom 1px solid black
    :text-align left
    :vertical-align bottom
  tbody
    :vertical-align baseline
    tr.even
      :background-color = !yellow_10
  tfoot
    :border-top 1px solid black
    :vertical-align baseline
