@import reset
@import font_normalization
@import colors
@import base

body
  margin: 3em auto
  width: 600px

h1
  font-size: 161.6%
  margin-bottom: 0.75em

form
  label
    display: block
  .errors
    color: $font_red
    margin-bottom: 0.5em
  .field
    margin-bottom: 0.5em
  .fields
    margin-bottom: 1.5em
  .field_with_errors
    label
      color: $font_red
    input
      background-color: $background_red

nav
  .session
    text-align: right
    .identity
      color: $font_green

.flash
  margin-bottom: 1em

  .notice, .alert
    padding: 1em

  .notice
    background-color: $background_green
    color: $font_green
  .alert
    background-color: $background_orange
    color: $font_orange
