@import reset
@import font_normalization
@import colors
@import base

$body_width: 600px
$product_image_width: 200px

body
  margin: 3em auto 25em
  width: $body_width

h1
  font-family: 'Century Gothic', Verdana, Arial, sans-serif
  font-size: 161.6%
p
  margin-bottom: 1em

form
  label
    display: block
  .errors
    color: $font_red
    margin-bottom: 0.5em
  .field
    margin-bottom: 0.5em
  .fields
    margin-bottom: 1.5em
  .field_with_errors
    label
      color: $font_red
    input
      background-color: $background_red

nav
  .session
    text-align: right
    .identity
      color: $font_green

.flash
  margin-bottom: 1em

  .notice, .alert
    padding: 1em

  .notice
    background-color: $background_green
    color: $font_green
  .alert
    background-color: $background_orange
    color: $font_orange

header, section
  margin-bottom: 1em
  padding: 1em

.address
  h1
    font-size: 100%
    font-weight: bold

section
  h1
    margin-bottom: 0.5em

section.cart
  background-color: #ffc

section.product
  clear: both
  .image
    float: left
    width: $product_image_width
    img
      width: $product_image_width
  .content
    margin-left: $product_image_width + 12px
    table.packagings
      float: right
      tr
        td
          padding: 0 0 1em 0.5em
        td.price
          text-align: right
        td.buttons
          white-space: nowrap

section.unshipped, section.shipped
  section.order
    border-bottom: 1px solid $font_black
    .address
      margin-bottom: 1em

table.cart
  tr
    td
      padding: 0 0.5em 0.5em 0
    td.price
      text-align: right
    td.buttons
      white-space: nowrap
  tfoot
    td
      font-weight: bold
    td.total
      text-align: right
