%p
  You have
  = pluralize current_cart.quantity, 'item'
  in your
  = link_to 'cart.', edit_cart_path
%ul
  = render :partial => current_cart.items
%p
  Cart total:
  = current_cart.total.converted_to(current_currency)
