= render :partial => 'orders/summary', :locals => { :order => @order }

- paypal_donation_service_for @order.token, :amount => @order.total, :currency => @order.total.currency do |service|
  - service.item_name = 'Contribution for Amani Christmas Cards'
  = submit_tag "Make My #{@order.total} Donation Online"
