.shipment
  %h2 Your order has not yet shipped.
  - if current_user
    - form_for order.build_shipment, :url => order_shipment_path(current_distributor, order) do |f|
      = f.submit 'I just shipped this order.'
