.shipment
  - unless shipment.order.immediately_shippable?
    %h2 Your order has shipped!
    %p= "We sent it your way #{shipment.created_at.to_date.to_s(:long)}."

  - if @order.downloads.any?
    %h2 Print your Gift Cards now!
    %p Your gift cards are ready here for immediate printing. (And they're also in your email.)
    %ul
    - shipment.order.downloads.each do |download|
      %li= link_to download.name, download
