- if current_user
  .danger
    %h2 Cancel Shipment
    %p If you accidentally marked this Order as shipped, you may correct that here:
    - form_for shipment, :url => order_shipment_path(current_distributor, shipment.order), :html => { :method => :delete } do |f|
      .field
        = f.submit 'Oops! Cancel this shipment!', :confirm => 'Are you sure? This will send email to the Donor.'

.shipment
  %h2 Your order has shipped!
  %p= "We sent it your way #{shipment.created_at.to_date.to_s(:long)}."
