.thanks
  %p Amani Children's Home thanks ConDrake Printing in Philadelphia, Pennsylvania for printing our holiday cards at a reduced price. We also thank Lori Banks for generously donating the full cost of this year's cards.
  %p Amani is deeply grateful to Libby Ventura and Adam Smith who donated their time and talent to design the Amani Holiday Cards. Thank you to Dina Sciarra, Shelley Malekia and Danielle Kozak for volunteering your time and energy to ensuring that this year's fundraiser is a success.
  %p Finally, we want to thank all of Amani's supporters for their continued support. Our work would not be possible without your loyal partnership. Asante sana&mdash;thank you very much!
