.welcome
  %h1 Amani Christmas and Holiday Cards
  %p The money raised through sales of Amani's Holiday Cards directly funds our education program. Amani paid for tuition, uniforms, textbooks, and school lunches for nearly 300 Tanzanian children in 2008.
  %p Education in Tanzania is meant to be free for children, but hidden mandatory fees make sending a child to school a luxury many families cannot afford. Only 54% of Tanzanian children finish elementary school and just 7% complete high school. By purchasing Amani Holiday Cards, you are making a difference in the lives of disadvantaged children.
  %p
    %strong Amani's Holiday Cards are ready to be shipped from the United States, Canada and the United Kingdom,
    so you're sure to receive your cards in plenty of time to send to your friends and family before the holiday season.
