!!! XML
!!!
%html{html_attrs}
  %head
    = stylesheet_link_tag('application')
  %body
    = render :partial => 'layouts/flash' unless flash.empty?
    = render :partial => 'layouts/navigation' if current_user
    = yield
